.userTable {
  background-color: lightgray;
  width: 100%;
  max-height: 3600px;
  margin: auto;
  border-collapse: collapse;
  border: 1px solid darkgrey;
  text-align: left;
  padding:10px;
  font-weight: 600;
}

.th {
  background-color: #222725;
  color: white;
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: #222725;
  color: white;
}