div {
  font-family: 'Thasadith', sans-serif;
}

.form { 
  padding: 20px;
}

.pageTitle{
  text-align: center;
  border-bottom: 3px solid;
  width: 100%;
  margin: auto;
}

.subTitle2{
  text-align: center;
}